body{
                    font-family: "Azeret Mono", monospace;                  
}

.container{
 width: 1440px; 
 margin: 0px auto;                  
}

header{
 display: flex;    
 justify-content: space-around;
 padding:38px 166px  ;               
}
header button{padding:12px 20px  ;}
#hero-section{
  width: 1440px ; height: 652px; 
  background-image: url(../assets/Hero-bg.png );                
}
.hero-content{
  align-items: center; 
  text-align: center;   

}
.hero-content h1 {
                    color: rgb(13, 19, 33);
                    font-family: Azeret Mono;
                    font-size: 48px;
                    font-weight: 800;
                    line-height: 68px;
                    letter-spacing: 0%;
                    text-align: center;                  

}
.hero-content p {
                    color: rgb(13, 19, 33);
                    font-family: Azeret Mono;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0%;
                    text-align: center;
                    padding: 0 120px;            
}
.hero-content button{
                    padding: 21px 24px 21px 24px;
                    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;

background: rgb(13, 19, 33);                 
}
#assist-banner {
                    width: 1140px;
                    height: 313px;
                    padding: 64px 48px 64px 48px;
                    margin: 49px 150px 90px 150px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    background-image:linear-gradient(0deg ,rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.452)100%), url(../assets/handshake.jpg);
                    border-radius: 16px;
                   
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                  }

                  
                  #assist-banner h1 {
                    color: rgb(255, 255, 255);
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 36px;
                    text-align: center;
                    margin-bottom: 16px;
                  }
                  #assist-banner p {
                    color: rgb(255, 255, 255);
                    margin-bottom: 24px;
                    padding: 0 219px;
                  }
                  #assist-banner .input {
                    align-items: center;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                  }
                  #assist-banner .input input {
                    box-sizing: border-box;
                    border: 1px solid rgba(13, 19, 33, 0.15);
                    border-radius: 8px;
                    width: 548px;
                    height: 57px;
                    background: rgb(255, 255, 255);
                    padding: 19px 20px 19px 20px;
                    margin: 0 14px 0 0;
                  }
                  #assist-banner .input button {
                    color: rgb(13, 19, 33);
                    font-size: 20px;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 8px;
                  cursor: pointer;
                    background: rgb(255, 255, 255);
                    padding: 17px 20px 17px 20px;
                  }
 #section-web {
  width: 1140px;  
  height: 1395px; 
  margin: 60px auto ;               
 }      
 .web-content{
   padding: 80px 97px; 
   align-items: center;  
   text-align: center;  
   background: rgba(13, 19, 33, 0.02);            
 }         
 .web-content h1{
  font-size: 32px ; 
  border-radius: 16px;
                 
 } 
 .web-content p{
                    color: rgb(13, 19, 33);
                    font-family: Azeret Mono;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0%;
                    text-align: center;              
 }
 .web-content .web-cards { width: 946px; 
                    height: 336px;


}
.web-content .web-cards .card {
 display: flex;   
 justify-content: space-between;                
}
.web-content .web-cards .card .card-left {
                    padding-right: 100px ;

}
.web-content .web-cards .card .card-left .button {
      padding: 12px 20px ;              
}
